<a href="https://colab.research.google.com/github/ADITYASHANKER2801/Python/blob/main/Conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age=int(input())
if(age>=18):
  print("you are adult")

65
you are adult

In [2]:
age=17
if(age>=18):
  print("you are adult")
else:
  print("you are minor")

you are minor

In [3]:
a=10
b=10
if (a>b):
  print("a is greater")
elif  a==b:
  print("both are equal")
else:
  print("b is greater")

both are equal

**LOOPING**

In [4]:
list1=[1,2,3,4,5]

for i in list1:
  print(i)

1
2
3
4
5

In [7]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
for i in list2:
  list1.append(i)

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Generating** **numbers** **in** **range**

In [8]:
#range() function is used to generate a sequence of numbers
for i in range(5):
  print(i)

0
1
2
3
4

In [9]:
#loop through numbers from 2 to 8, incrementing by 2 each time
for i in range(2,9,2):
  print(i)

2
4
6
8

In [10]:
#break
for i in range(10):
  if(i==5):
    break
  print(i)

0
1
2
3
4

In [11]:
#continue
for i in range(10):
  if(i==5):
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [13]:
# to print only even number
for i in range(2,15):
  if i%2!=0:
    continue
  print(i)

2
4
6
8
10
12
14

**WHILE** **LOOP**

In [14]:
i=0
while i<5:
  print("hello world")
  i+=1

hello world
hello world
hello world
hello world
hello world