In [3]:
#to initialize a function use def
def fun():
  print("hello world")

fun()

hello world

In [4]:
def fun(fname):
  print(fname)

fun("amy")

amy

In [7]:
# '*' is used for unlimited arguments
def fun(*name):
  print(name[0])

fun("ammy", "shukla")
fun("john", "smith")

ammy
john

In [8]:
def fun(child3,child2,child1):
  print(child1,child2,child3)

fun(child1="John",child2="amy",child3="rick")

John amy rick

In [9]:
#to print keyvalue unknown arguments we use **
def fun(**childs):
  print(childs)

fun(child1="John",child2="amy",child3="rick")

{'child1': 'John', 'child2': 'amy', 'child3': 'rick'}

In [10]:
def fun(country= "Hindustan"):
  print(country)

fun("india")
fun()

india
Hindustan

In [11]:
def fun(food):
  for i in food:
    print(i)

fruits=["apple","banana","orange"]
fun(fruits)

apple
banana
orange

In [13]:
def add(a,b):
  return a+b

add(1,2)

3

In [14]:
#we can use pass for keeping our function empty to use it later
def fun():
  pass

**LAMBDA**

In [15]:
x= lambda a: a+10
print(x(5))

15

In [16]:
x=lambda a,b: a+b
print(x(3,4))

7

In [17]:
divide= lambda a,b: "undefined" if b==0 else a/b

print(divide(10,2))
print(divide(10,0))

5.0
undefined

In [18]:
#filter() function that returns an iterator containing only the elements for which condition is true
list1=[1,2,3,4,5,6,7,8,9,10]
even_numbers=list(filter(lambda a: a%2==0, list1))
print(even_numbers)

[2, 4, 6, 8, 10]

In [21]:
#map() - used to convert list of integers
list1=[1,2,3,4,5]
product=list(map(lambda a: a**2,list1))
print(product)

[1, 4, 9, 16, 25]