**ARITHMETIC** **OPERATIONS**

In [ ]:
x=5
z=10
c=x*z
print(c)
type(c)

50

int

In [ ]:
c=x/z
print(c)
type(c)

0.5

float

In [ ]:
message="Hey muddy,how are you doing?"
print(message[4])  #prints the index

m

In [ ]:
message=message.replace('muddy','buddy')
print(message)

Hey buddy,how are you doing?

In [ ]:
algorithm="Neural Networks"
len(algorithm)   #Prints the length of string

15

In [ ]:
algorithm.count("Ne") #Returns  the count of the string in a given string

2

In [ ]:
num_str="25"
num_int=int(num_str)  #Type conversion from string to int
result=num_int+5
print(result)

30

In [ ]:
my_list=[1,2,3,4]
type(my_list)

list

In [ ]:
my_list=['A string',10,0.5,'0',True] #Python allows us to add any type of data type in a list
my_list

['A string', 10, 0.5, '0', True]

In [ ]:
#Mutability, List is Mutable
my_list=[1,2,3,4,5]
my_list[0]=10
print(my_list)

[10, 2, 3, 4, 5]

In [ ]:
sum(my_list) #Returns the sum of elements in list, Only works on numeric data types

24

In [ ]:
len(my_list)

5

In [ ]:
# mean of the list
mean_marks=sum(my_list)/len(my_list)
print(mean_marks)

4.8

**TUPLES**

In [ ]:
#Tuples are immutable althought bit similar like lists, () brackets are used
my_tuple=(1,2,3);
type(my_tuple)

tuple

In [ ]:
#can also mix object types
tuple_other=('one',2,4.5, 'asbc')
print(tuple_other)

('one', 2, 4.5, 'asbc')

DICTIONARIES

In [ ]:
#Dictionaries are type of key-value pair
marvel_dict={'Name':'Thor',
             'Place':'Asgard',
             'weapon':'Hammer',
             1:2, 3: 'power',
             'alibies' : ['Ironman','Captain america'],
             'abc' : {1:2, 4:5}
             }

In [ ]:
#call value by their key
marvel_dict['Place']

'Asgard'

In [ ]:
type(marvel_dict)

dict

In [ ]:
type(marvel_dict['abc'])

dict

In [ ]:
#Dictionaries are mutable
customers={
    "id":1234,
    "Name":"John cena",
    "Email": "johncena@gmail.com"

}
customers["Email"]="johncenaisjod@gmail.com"

#Add a new key value pair
customers["phone"]="555-111-2222"

#Remove the customer id
del customers["id"]

print(customers)

{'Name': 'John cena', 'Email': 'johncenaisjod@gmail.com', 'phone': '555-111-2222'}

In [ ]:
customers.keys()

dict_keys(['Name', 'Email', 'phone'])

In [ ]:
list(customers.keys())

['Name', 'Email', 'phone']

In [ ]:
customers.values()

dict_values(['John cena', 'johncenaisjod@gmail.com', '555-111-2222'])

In [ ]:
customers.items()

dict_items([('Name', 'John cena'), ('Email', 'johncenaisjod@gmail.com'), ('phone', '555-111-2222')])

In [ ]:
#interesting algorithm
marvel_dict['abc'][1]

2

## **SETS**

In [ ]:
#Sets are used to work with collection of unique elements
empty_set=set()

In [ ]:
type(empty_set)

set

In [ ]:
non_empty_set={1,2,3,'abc'}
#Mutability in set
non_empty_set= non_empty_set | {1,7}
print(non_empty_set)

{1, 2, 3, 7, 'abc'}

In [ ]:
len(non_empty_set)

5

In [ ]:
lists=[1,2,3,1,2,2,3,4,1,5,5,6,7]
my_set=set(lists)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

**SLICING**

In [ ]:
#Slicing is used to get a portion of the sequence
#sequence[start:stop:step]
#start-The index from which slicing begins
#end-The index at which slicing ends
#step-The number of elements to skip between each included element

In [ ]:
str1="FACE"
str1[1:3]

'AC'

In [ ]:
my_string="Hello, world"
my_string[::2]

'Hlo ol'

In [ ]:
#to reverse the string
my_string[::-1]

'dlrow ,olleH'

**OPERATORS** **IN** **DATA** **TYPES**

In [ ]:
x=10
y=3

print(x+y)
print(x-y)
print(x*y)
print(x/y)

13
7
30
3.3333333333333335

In [ ]:
# "//" operator is known as integer division operator
j = 10
b=3
c=j//b
print(c)

#"%" reurns the remainder
a=10
b=3
c=a%b
print(c)

#"**" it is the exponentation operator
a=2
b=3
c=a**b
print(c)

3
1
8

In [ ]:
#Comparison operators
x=5
y=10

print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

**LOGICAL** **OPERATORS**

In [ ]:
#AND-Returns true if both conditions are true, otherwise false
#OR-Returns true if one of the conditions are true, otherwise false
#NOT-Returns opposite of condition i.e false when true and vice versa

x=5
y=10
z=5

print((x<y) and (x==z))
print((x>y) or (x==z))
print(not(x==z))

True
True
False

**MEMBERSHIP** **OPERATORS**

In [ ]:
#There are two types of membership operators "In" and "Not in"
sentence="The quick brown fox jumps over the lazy dog"
print("fox" in sentence)
print("cat" in sentence)

True
False


 **CONCAT** **AND** **MULTIPLYING**

In [ ]:
#WE use the + operator to concatenate two lists
list1=[1,2,3]
list2=[4,5,6]

result=list1+list2
print(result)

[1, 2, 3, 4, 5, 6]

In [ ]:
#Using the * operator to repeat the list
list1=[1,2,3]
result = list1 * 3
print(result)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
string1="Hello"
string2="world"
result= string1+ " " +string2
print(result)

string="spam"
result=string *3
print(result)

Hello world
spamspamspam

In [ ]:
#To copy a dictionary
my_dict={"1":2, "Apple":"Monkey", "John": 47}
new_dict=my_dict.copy()
print(new_dict)

{'1': 2, 'Apple': 'Monkey', 'John': 47}

In [ ]:
#to clear the dictionary
my_dict.clear()
print(my_dict)

{}

**SET** **OPERATORS**


1.   Union(|)-returns a new set with all elements from both side
2.   Intersection Operator(&)-returns a new set with common elements from both sets.
3. Difference Operator(-)-returns a new set with only elements from first set which are not in second set

In [ ]:
set_a={1,2,3}
set_b={2,3,4}

print(set_a | set_b)
print(set_a & set_b)
print(set_a - set_b)

{1, 2, 3, 4}
{2, 3}
{1}

**INPUT** **IN** **PYTHON**

In [ ]:
name= input("Enter your name")
print("Hello,"+ name + "|")

Enter your namejohn
Hello,john|

In [ ]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
c=a+b
print(c)

Enter first number5
Enter second number10
15

In [ ]:
ex=[3,4,5]
print(sum(ex))
print(max(ex))
print(min(ex))

12
5
3

In [ ]:
ex=[3,7,5]
list(enumerate(ex))

[(0, 3), (1, 7), (2, 5)]

In [ ]:
list1=[2,3,4,5]
list2=['a','b','c','d']
list(zip(list1,list2))

[(2, 'a'), (3, 'b'), (4, 'c'), (5, 'd')]

In [ ]:
my_list=[1,2,3,4,2,5]
print(len(my_list))

#to get index of any element
print(my_list.index(4))

#to retirve count of any element in the list
print(my_list.count(2))

6
3
2

In [ ]:
my_dict={"name":"rony","age":19,"city":"ny"}

#To retrieve any value from dictionary we use get
my_dict.get("age")

19

In [ ]:
#SORTING A LIST
my_list=[3,7,2,6,5,19,14,4]
sorted_list=sorted(my_list)
print("Original list",my_list)
print("Sorted list", sorted_list)

Original list [3, 7, 2, 6, 5, 19, 14, 4]
Sorted list [2, 3, 4, 5, 6, 7, 14, 19]

In [ ]:
# append() - adds a new element to the end of the list
my_list=[1,2,3,4]
my_list.append(5)
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# update()- adds or update a key value pair in dictionary
my_dict={"name":"John", "age": 30}
my_dict.update({"age":31,"gender":"Male"})
print(my_dict)

{'name': 'John', 'age': 31, 'gender': 'Male'}

In [ ]:
#replace() - replaces a substring in a string with a new string
string1="Hello, World!"
new_string=string1.replace("World", "Python")
print(string1)
print(new_string)

Hello, World!
Hello, Python!

In [ ]:
#extend()-adds multiple elements to the end of the list
my_list=[1,2,3]
print(my_list)
my_list.extend([4,5,6])
print(my_list)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

**STRING** **METHODS**

In [ ]:
string="alma better"

#upper() to convert all string to uppercase
print(string.upper())

#lower() to convert all string to lowercase
print(string.lower())

ALMA BETTER
alma better

In [ ]:
#title() - to convert first character of each word to uppercase
print(string.title())

Alma Better

In [ ]:
#replace()- to replace substring with new substring
print(string.replace("better","best"))

alma best

In [ ]:
#split()- to split list into substirngs into a list of substrings
string.split(" ")

['alma', 'better']

In [ ]:
#join()- to concatenate list of strings into a single string with a seperate string
new_string=string.join("123")
print(new_string)

1alma better2alma better3